REACT_APP_GOOGLE_MAPS_API_KEY=__YOUR_GOOGLE_MAPS_API_KEY__
REACT_APP_SQUARE_SANDBOX_APPLICATION_ID=__YOUR_SQUARE_SANDBOX_APPLICATION_ID__
REACT_APP_SQUARE_SANDBOX_LOCATION_ID=__YOUR_SQUARE_SANDBOX_LOCATION_ID__